.btn-sort {
  .btn {
    padding: 0 2px;
    opacity: 0.7;

    &:active {
      border-color: transparent !important;
    }
    &:hover {
      opacity: 1;
    }
  }
}

.search {
  position: relative;
  background: rgba(22, 24, 35, 0.06);
  display: flex;
  align-items: center;
  border-radius: 15px;


  .form-control {
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 15px;
  }
  .clear-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
  }
}
